* {
    padding: 0;
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: 58% 12% 12% 12% 6%;
    /* grid-template-rows: 50%; */
    grid-template-rows: auto;
    position: fixed;
    min-width: 100vw;
    min-height: 60px;
    max-height: 60px;
    background-color: blanchedalmond;

}
.logo {
    display: flex;
    align-items: center;
    padding: 10px;
    min-width: 50vw;
    max-width: 50vw;
    max-height: 60px;
    background-color: lawngreen;
}
/* nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 50vw;
    max-width: 50vw;
    max-height: 60px;
    padding-right: 50px;
    background-color: mediumspringgreen;
    color: aqua;
} */
.about-link {
    display: flex;
    justify-self: center;
    align-self: center;
}
.skills-link {
    display: flex;
    justify-self: center;
    align-self: center;
}
.projects-link {
    display: flex;
    justify-self: center;
    align-self: center;
}
.contact-link {
    display: flex;
    justify-self: center;
    align-self: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: aliceblue;
}
#about {
    display: grid;
    grid-template-columns: 10% 30% 50% 10%;
    grid-template-rows: auto;
    min-height: 100vh;
    min-width: 100vw;
    background-color: antiquewhite;
}
#profile-image {
    border-radius: 50%; 
    grid-column-start: auto;
    grid-column-start: 2;
}
#skills {
    display: flex;
    justify-content: center;
    align-items: center
    min-height: 50vh;
    min-width: 100vw;
    background-color: aquamarine
}
#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: lavenderblush;
}
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5vw; */
    min-height: 100vh;
    min-width: 100vw;
    background-color: khaki;
}